<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chk.pdms.pd_material.Dao.mapper.PdInfoMaterialMapper">
  <resultMap id="BaseResultMap" type="com.chk.pdms.dao.Info.domain.PdInfoMaterial">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pd_model_id" jdbcType="INTEGER" property="pdModelId" />
    <result column="std" jdbcType="VARCHAR" property="std" />
    <result column="quality" jdbcType="VARCHAR" property="quality" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="size" jdbcType="VARCHAR" property="size" />
    <result column="search_key" jdbcType="VARCHAR" property="searchKey" />
    <result column="surface_code" jdbcType="VARCHAR" property="surfaceCode" />
    <result column="thickness_code" jdbcType="VARCHAR" property="thicknessCode" />
    <result column="length_width_code" jdbcType="VARCHAR" property="lengthWidthCode" />
    <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
    <result column="center_frequency" jdbcType="VARCHAR" property="centerFrequency" />
    <result column="pass_band_range" jdbcType="VARCHAR" property="passBandRange" />
    <result column="other" jdbcType="VARCHAR" property="other" />
    <result column="ripple" jdbcType="VARCHAR" property="ripple" />
    <result column="power_capacity" jdbcType="VARCHAR" property="powerCapacity" />
    <result column="vswr" jdbcType="VARCHAR" property="vswr" />
    <result column="amplitude_balance" jdbcType="VARCHAR" property="amplitudeBalance" />
    <result column="phase_balance" jdbcType="VARCHAR" property="phaseBalance" />
    <result column="insertion_loss" jdbcType="VARCHAR" property="insertionLoss" />
    <result column="isolation" jdbcType="VARCHAR" property="isolation" />
    <result column="frequency_range" jdbcType="VARCHAR" property="frequencyRange" />
    <result column="vswr_stop_band" jdbcType="VARCHAR" property="vswrStopBand" />
    <result column="vswr_pass_Band" jdbcType="VARCHAR" property="vswrPassBand" />
    <result column="stop_band_by20" jdbcType="VARCHAR" property="stopBandBy20" />
    <result column="cut_off_frequency" jdbcType="VARCHAR" property="cutOffFrequency" />
    <result column="breakdown_voltage" jdbcType="VARCHAR" property="breakdownVoltage" />
    <result column="insulation_resistance" jdbcType="VARCHAR" property="insulationResistance" />
    <result column="flexure_strength" jdbcType="VARCHAR" property="flexureStrength" />
    <result column="dielectric_loss_by20G" jdbcType="VARCHAR" property="dielectricLossBy20g" />
    <result column="dielectric_loss_by1_9G" jdbcType="VARCHAR" property="dielectricLossBy19g" />
    <result column="permittivity_by15G" jdbcType="VARCHAR" property="permittivityBy15g" />
    <result column="permittivity_by1_9G" jdbcType="VARCHAR" property="permittivityBy19g" />
    <result column="dielectric_strength" jdbcType="VARCHAR" property="dielectricStrength" />
    <result column="insulation_resistance_by125" jdbcType="VARCHAR" property="insulationResistanceBy125" />
    <result column="insulation_resistance_by25" jdbcType="VARCHAR" property="insulationResistanceBy25" />
    <result column="temperature_alteration_ratio" jdbcType="VARCHAR" property="temperatureAlterationRatio" />
    <result column="dielectric_loss_by1MHz" jdbcType="VARCHAR" property="dielectricLossBy1mhz" />
    <result column="permittivity" jdbcType="VARCHAR" property="permittivity" />
    <result column="powder_density" jdbcType="VARCHAR" property="powderDensity" />
    <result column="specific_surfaceArea" jdbcType="VARCHAR" property="specificSurfacearea" />
    <result column="d90" jdbcType="VARCHAR" property="d90" />
    <result column="d50" jdbcType="VARCHAR" property="d50" />
    <result column="d10" jdbcType="VARCHAR" property="d10" />
    <result column="sintering_temperature" jdbcType="VARCHAR" property="sinteringTemperature" />
    <result column="soaking_time" jdbcType="VARCHAR" property="soakingTime" />
    <result column="performance" jdbcType="VARCHAR" property="performance" />
    <result column="pad_metallurgy" jdbcType="VARCHAR" property="padMetallurgy" />
    <result column="out_of_band_rejection1" jdbcType="VARCHAR" property="outOfBandRejection1" />
    <result column="out_of_band_rejection2" jdbcType="VARCHAR" property="outOfBandRejection2" />
    <result column="out_of_band_rejection3" jdbcType="VARCHAR" property="outOfBandRejection3" />
    <result column="out_of_band_rejection4" jdbcType="VARCHAR" property="outOfBandRejection4" />
    <result column="out_of_band_rejection5" jdbcType="VARCHAR" property="outOfBandRejection5" />
    <result column="material_type" jdbcType="VARCHAR" property="materialType" />
    <result column="rated_current" jdbcType="VARCHAR" property="ratedCurrent" />
    <result column="bandwidth" jdbcType="VARCHAR" property="bandwidth" />
    <result column="stop_band_by40" jdbcType="VARCHAR" property="stopBandBy40" />
    <result column="pass_band_insertion_loss_by1_3" jdbcType="VARCHAR" property="passBandInsertionLossBy13" />
    <result column="pass_band_insertion_loss_by2_0Typ" jdbcType="VARCHAR" property="passBandInsertionLossBy20typ" />
    <result column="material_type2" jdbcType="VARCHAR" property="materialType2" />
    <result column="basis_material" jdbcType="VARCHAR" property="basisMaterial" />
    <result column="outlet" jdbcType="VARCHAR" property="outlet" />
    <result column="evaluating_scope" jdbcType="VARCHAR" property="evaluatingScope" />
    <result column="appearance" jdbcType="VARCHAR" property="appearance" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, pd_model_id, std, quality, model, size, search_key, surface_code, thickness_code, 
    length_width_code, material_code, center_frequency, pass_band_range, other, ripple, 
    power_capacity, vswr, amplitude_balance, phase_balance, insertion_loss, isolation, 
    frequency_range, vswr_stop_band, vswr_pass_Band, stop_band_by20, cut_off_frequency, 
    breakdown_voltage, insulation_resistance, flexure_strength, dielectric_loss_by20G, 
    dielectric_loss_by1_9G, permittivity_by15G, permittivity_by1_9G, dielectric_strength, 
    insulation_resistance_by125, insulation_resistance_by25, temperature_alteration_ratio, 
    dielectric_loss_by1MHz, permittivity, powder_density, specific_surfaceArea, d90, 
    d50, d10, sintering_temperature, soaking_time, performance, pad_metallurgy, out_of_band_rejection1, 
    out_of_band_rejection2, out_of_band_rejection3, out_of_band_rejection4, out_of_band_rejection5, 
    material_type, rated_current, bandwidth, stop_band_by40, pass_band_insertion_loss_by1_3, 
    pass_band_insertion_loss_by2_0Typ, material_type2, basis_material, outlet, evaluating_scope, 
    appearance
  </sql>

</mapper>