<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chk.pdms.fpd.dao.mapper.FpdModelMapper">
  <resultMap id="BaseResultMap" type="com.chk.pdms.fpd.domain.FpdModel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="order_rule" jdbcType="VARCHAR" property="orderRule" />
    <result column="idx" jdbcType="INTEGER" property="idx" />
    <result column="order_rule_pos" jdbcType="VARCHAR" property="orderRulePos" />
    <result column="order_rule_bit" jdbcType="VARCHAR" property="orderRuleBit" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, code, order_rule, idx, order_rule_pos, order_rule_bit
  </sql>
  <select id="selectByExample" parameterType="com.chk.pdms.fpd.domain.FpdModelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fpd_model
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fpd_model
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from fpd_model
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.chk.pdms.fpd.domain.FpdModelExample">
    delete from fpd_model
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chk.pdms.fpd.domain.FpdModel">
    insert into fpd_model (id, name, code, 
      order_rule, idx, order_rule_pos, 
      order_rule_bit)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{orderRule,jdbcType=VARCHAR}, #{idx,jdbcType=INTEGER}, #{orderRulePos,jdbcType=VARCHAR}, 
      #{orderRuleBit,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chk.pdms.fpd.domain.FpdModel">
    insert into fpd_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="orderRule != null">
        order_rule,
      </if>
      <if test="idx != null">
        idx,
      </if>
      <if test="orderRulePos != null">
        order_rule_pos,
      </if>
      <if test="orderRuleBit != null">
        order_rule_bit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="orderRule != null">
        #{orderRule,jdbcType=VARCHAR},
      </if>
      <if test="idx != null">
        #{idx,jdbcType=INTEGER},
      </if>
      <if test="orderRulePos != null">
        #{orderRulePos,jdbcType=VARCHAR},
      </if>
      <if test="orderRuleBit != null">
        #{orderRuleBit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chk.pdms.fpd.domain.FpdModelExample" resultType="java.lang.Long">
    select count(*) from fpd_model
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update fpd_model
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.orderRule != null">
        order_rule = #{record.orderRule,jdbcType=VARCHAR},
      </if>
      <if test="record.idx != null">
        idx = #{record.idx,jdbcType=INTEGER},
      </if>
      <if test="record.orderRulePos != null">
        order_rule_pos = #{record.orderRulePos,jdbcType=VARCHAR},
      </if>
      <if test="record.orderRuleBit != null">
        order_rule_bit = #{record.orderRuleBit,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update fpd_model
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      order_rule = #{record.orderRule,jdbcType=VARCHAR},
      idx = #{record.idx,jdbcType=INTEGER},
      order_rule_pos = #{record.orderRulePos,jdbcType=VARCHAR},
      order_rule_bit = #{record.orderRuleBit,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chk.pdms.fpd.domain.FpdModel">
    update fpd_model
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="orderRule != null">
        order_rule = #{orderRule,jdbcType=VARCHAR},
      </if>
      <if test="idx != null">
        idx = #{idx,jdbcType=INTEGER},
      </if>
      <if test="orderRulePos != null">
        order_rule_pos = #{orderRulePos,jdbcType=VARCHAR},
      </if>
      <if test="orderRuleBit != null">
        order_rule_bit = #{orderRuleBit,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chk.pdms.fpd.domain.FpdModel">
    update fpd_model
    set name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      order_rule = #{orderRule,jdbcType=VARCHAR},
      idx = #{idx,jdbcType=INTEGER},
      order_rule_pos = #{orderRulePos,jdbcType=VARCHAR},
      order_rule_bit = #{orderRuleBit,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.chk.pdms.fpd.domain.FpdModelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fpd_model
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>