<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chk.pdms.cm.dao.mapper.CmContactMapper">
  <resultMap id="BaseResultMap" type="com.chk.pdms.cm.domain.CmContact">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="post_code" jdbcType="VARCHAR" property="postCode" />
    <result column="phone_title1" jdbcType="VARCHAR" property="phoneTitle1" />
    <result column="phone1" jdbcType="VARCHAR" property="phone1" />
    <result column="phone_title2" jdbcType="VARCHAR" property="phoneTitle2" />
    <result column="phone_2" jdbcType="VARCHAR" property="phone2" />
    <result column="fax_title" jdbcType="VARCHAR" property="faxTitle" />
    <result column="fax" jdbcType="VARCHAR" property="fax" />
    <result column="website" jdbcType="VARCHAR" property="website" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="contact_title" jdbcType="VARCHAR" property="contactTitle" />
    <result column="contact_name" jdbcType="VARCHAR" property="contactName" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="idx" jdbcType="INTEGER" property="idx" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="lat" jdbcType="VARCHAR" property="lat" />
    <result column="lng" jdbcType="VARCHAR" property="lng" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, address, post_code, phone_title1, phone1, phone_title2, phone_2, fax_title, 
    fax, website, email, contact_title, contact_name, contact_phone, type, idx, area, 
    lat, lng
  </sql>
  <select id="selectByExample" parameterType="com.chk.pdms.cm.domain.CmContactExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cm_contact
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cm_contact
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cm_contact
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.chk.pdms.cm.domain.CmContactExample">
    delete from cm_contact
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chk.pdms.cm.domain.CmContact">
    insert into cm_contact (id, name, address, 
      post_code, phone_title1, phone1, 
      phone_title2, phone_2, fax_title, 
      fax, website, email, 
      contact_title, contact_name, contact_phone, 
      type, idx, area, lat, 
      lng)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{postCode,jdbcType=VARCHAR}, #{phoneTitle1,jdbcType=VARCHAR}, #{phone1,jdbcType=VARCHAR}, 
      #{phoneTitle2,jdbcType=VARCHAR}, #{phone2,jdbcType=VARCHAR}, #{faxTitle,jdbcType=VARCHAR}, 
      #{fax,jdbcType=VARCHAR}, #{website,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{contactTitle,jdbcType=VARCHAR}, #{contactName,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{idx,jdbcType=INTEGER}, #{area,jdbcType=VARCHAR}, #{lat,jdbcType=VARCHAR}, 
      #{lng,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chk.pdms.cm.domain.CmContact">
    insert into cm_contact
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="postCode != null">
        post_code,
      </if>
      <if test="phoneTitle1 != null">
        phone_title1,
      </if>
      <if test="phone1 != null">
        phone1,
      </if>
      <if test="phoneTitle2 != null">
        phone_title2,
      </if>
      <if test="phone2 != null">
        phone_2,
      </if>
      <if test="faxTitle != null">
        fax_title,
      </if>
      <if test="fax != null">
        fax,
      </if>
      <if test="website != null">
        website,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="contactTitle != null">
        contact_title,
      </if>
      <if test="contactName != null">
        contact_name,
      </if>
      <if test="contactPhone != null">
        contact_phone,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="idx != null">
        idx,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="lat != null">
        lat,
      </if>
      <if test="lng != null">
        lng,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null">
        #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="phoneTitle1 != null">
        #{phoneTitle1,jdbcType=VARCHAR},
      </if>
      <if test="phone1 != null">
        #{phone1,jdbcType=VARCHAR},
      </if>
      <if test="phoneTitle2 != null">
        #{phoneTitle2,jdbcType=VARCHAR},
      </if>
      <if test="phone2 != null">
        #{phone2,jdbcType=VARCHAR},
      </if>
      <if test="faxTitle != null">
        #{faxTitle,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="website != null">
        #{website,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="contactTitle != null">
        #{contactTitle,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null">
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="idx != null">
        #{idx,jdbcType=INTEGER},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="lat != null">
        #{lat,jdbcType=VARCHAR},
      </if>
      <if test="lng != null">
        #{lng,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chk.pdms.cm.domain.CmContactExample" resultType="java.lang.Long">
    select count(*) from cm_contact
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cm_contact
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.postCode != null">
        post_code = #{record.postCode,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneTitle1 != null">
        phone_title1 = #{record.phoneTitle1,jdbcType=VARCHAR},
      </if>
      <if test="record.phone1 != null">
        phone1 = #{record.phone1,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneTitle2 != null">
        phone_title2 = #{record.phoneTitle2,jdbcType=VARCHAR},
      </if>
      <if test="record.phone2 != null">
        phone_2 = #{record.phone2,jdbcType=VARCHAR},
      </if>
      <if test="record.faxTitle != null">
        fax_title = #{record.faxTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.fax != null">
        fax = #{record.fax,jdbcType=VARCHAR},
      </if>
      <if test="record.website != null">
        website = #{record.website,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.contactTitle != null">
        contact_title = #{record.contactTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.contactName != null">
        contact_name = #{record.contactName,jdbcType=VARCHAR},
      </if>
      <if test="record.contactPhone != null">
        contact_phone = #{record.contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.idx != null">
        idx = #{record.idx,jdbcType=INTEGER},
      </if>
      <if test="record.area != null">
        area = #{record.area,jdbcType=VARCHAR},
      </if>
      <if test="record.lat != null">
        lat = #{record.lat,jdbcType=VARCHAR},
      </if>
      <if test="record.lng != null">
        lng = #{record.lng,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cm_contact
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      post_code = #{record.postCode,jdbcType=VARCHAR},
      phone_title1 = #{record.phoneTitle1,jdbcType=VARCHAR},
      phone1 = #{record.phone1,jdbcType=VARCHAR},
      phone_title2 = #{record.phoneTitle2,jdbcType=VARCHAR},
      phone_2 = #{record.phone2,jdbcType=VARCHAR},
      fax_title = #{record.faxTitle,jdbcType=VARCHAR},
      fax = #{record.fax,jdbcType=VARCHAR},
      website = #{record.website,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      contact_title = #{record.contactTitle,jdbcType=VARCHAR},
      contact_name = #{record.contactName,jdbcType=VARCHAR},
      contact_phone = #{record.contactPhone,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      idx = #{record.idx,jdbcType=INTEGER},
      area = #{record.area,jdbcType=VARCHAR},
      lat = #{record.lat,jdbcType=VARCHAR},
      lng = #{record.lng,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chk.pdms.cm.domain.CmContact">
    update cm_contact
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null">
        post_code = #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="phoneTitle1 != null">
        phone_title1 = #{phoneTitle1,jdbcType=VARCHAR},
      </if>
      <if test="phone1 != null">
        phone1 = #{phone1,jdbcType=VARCHAR},
      </if>
      <if test="phoneTitle2 != null">
        phone_title2 = #{phoneTitle2,jdbcType=VARCHAR},
      </if>
      <if test="phone2 != null">
        phone_2 = #{phone2,jdbcType=VARCHAR},
      </if>
      <if test="faxTitle != null">
        fax_title = #{faxTitle,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="website != null">
        website = #{website,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="contactTitle != null">
        contact_title = #{contactTitle,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null">
        contact_name = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="idx != null">
        idx = #{idx,jdbcType=INTEGER},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="lat != null">
        lat = #{lat,jdbcType=VARCHAR},
      </if>
      <if test="lng != null">
        lng = #{lng,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chk.pdms.cm.domain.CmContact">
    update cm_contact
    set name = #{name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      post_code = #{postCode,jdbcType=VARCHAR},
      phone_title1 = #{phoneTitle1,jdbcType=VARCHAR},
      phone1 = #{phone1,jdbcType=VARCHAR},
      phone_title2 = #{phoneTitle2,jdbcType=VARCHAR},
      phone_2 = #{phone2,jdbcType=VARCHAR},
      fax_title = #{faxTitle,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      website = #{website,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      contact_title = #{contactTitle,jdbcType=VARCHAR},
      contact_name = #{contactName,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      idx = #{idx,jdbcType=INTEGER},
      area = #{area,jdbcType=VARCHAR},
      lat = #{lat,jdbcType=VARCHAR},
      lng = #{lng,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.chk.pdms.cm.domain.CmContactExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cm_contact
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>